a, a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: none;
}

.btn-zv {
  background: #243d57;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-zv:hover {
  background: #33567b;
}

.over-wrap {
  overflow: scroll;
  height: calc( 100vh - 60px + 5px);
  overflow-x: hidden;
}

.btn-clicked {
  background: #245735;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-clicked:hover {
  background: #337b4b;
}

@-webkit-keyframes loading-images {
  0% {
    background: #cccccc;
  }
  50% {
    background: #e6e6e6;
  }
  100% {
    background: #cccccc;
  }
}

@keyframes loading-images {
  0% {
    background: #cccccc;
  }
  50% {
    background: #e6e6e6;
  }
  100% {
    background: #cccccc;
  }
}
@-webkit-keyframes loaded-images {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loaded-images {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loaded {
  100% {
    background: #fff;
  }
}
@keyframes loaded {
  100% {
    background: #fff;
  }
}
.radius img {
  border-radius: 15px;
}

body {
  background: #343a40;
}

* {
  outline: none !important;
}

.main-shop {
  background: #fff;
  position: relative;
}
.main-shop .home-data-wrap {
  position: fixed;
  top: -55px;
  left: 0;
  background: #00000071;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.main-shop .home-data-inner {
  position: absolute;
  background: #353535;
  height: 70%;
  width: 40%;
  left: calc( (100% - 40%)/2 );
  top: 10%;
  z-index: 101;
  opacity: 1;
  color: #fff;
  border-radius: 15px;
}
@media screen and (max-width: 991px) {
  .main-shop .home-data-inner {
    width: 80%;
    left: calc( (100% - 80%)/2 );
    top: 15%;
  }
}
.main-shop .cart-wrap .cart-accept p {
  margin: 0;
}
.main-shop .cart-wrap .cart-accept strong {
  color: #612b2b;
}
.main-shop .cart-wrap .cart-accept .count {
  padding: 10px 0;
  font-size: 1.3em;
}
.main-shop .cart-wrap .deleter {
  right: 0.5em;
  z-index: 99;
}
.main-shop .cart-wrap .deleter svg {
  height: 1.3em;
  width: 1.3em;
  color: #804545;
}
.main-shop .cart-wrap .deleter:hover {
  cursor: pointer;
}
.main-shop .cart-wrap .sum-price-col h5 {
  font-weight: 600;
}
.main-shop .cart-wrap .price-col h5 {
  font-size: 1em;
  color: #868686;
}
.main-shop .cart-wrap .price-col svg {
  height: 14px;
  width: 14px;
  margin-bottom: 5px;
}
.main-shop .cart-wrap .name-col h5 {
  font-size: 1em;
}
.main-shop .cart-wrap .summary {
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.main-shop .cart-wrap .btn-zv {
  border-radius: 4px;
  font-size: 1.2em;
}
.main-shop .cart-wrap .row-col {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.main-shop .cart-wrap img {
  border-radius: 4px;
  max-width: 100px;
  width: 100%;
  max-height: 100px;
}
.main-shop .navbar {
  height: 60px;
  position: absolute;
  top: -60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-shop .navbar .navbar-brand {
  width: 90%;
  overflow: hidden;
}
.main-shop .navbar .icon-wrap {
  padding: 5px;
  background: #fff;
  border-radius: 4px;
  color: #343a40;
  margin-left: 7px;
}
.main-shop .navbar .right-corner {
  position: absolute;
  right: 1rem;
  background: #343a40;
  padding-left: 5px;
}
.main-shop .navbar .count {
  position: absolute;
  background: #2976e9;
  color: #fff;
  height: 15px;
  width: 15px;
  font-size: 11px;
  text-align: center;
  padding-bottom: 17px;
  border-radius: 3px;
  right: -9px;
  top: 9px;
}
.main-shop .product-wrap {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main-shop .product-wrap .additional-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.main-shop .product-wrap .additional-wrap svg {
  height: 2em;
  color: #525252;
}
.main-shop .product-wrap .name h5 {
  font-size: 1.2em;
}
.main-shop .product-wrap .img-col .inner-col {
  height: 330px;
  margin-top: 10px;
  border-radius: 15px;
  margin-top: 15px;
}
.main-shop .product-wrap .img-col .inner-col img {
  height: 100%;
  width: 100%;
  background-color: #fff;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.main-shop .product-wrap .desc {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
}
.main-shop .product-wrap .desc h4 {
  font-weight: 600;
  color: #502828;
}
.main-shop .product-wrap .desc h5 {
  font-size: 1em;
  font-weight: 300;
}
.main-shop .product-wrap .add-to-cart .btn {
  font-size: 1.2em;
  padding: 13px;
}
.main-shop .content-wrap .content {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  width: 100%;
  background: #e7eef0;
  top: calc( 60px - 5px );
  min-height: calc( 100vh - 60px + 5px);
}
@media screen and (max-width: 991px) {
  .main-shop .content-wrap .content {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}
.main-shop .products-wrap .wrap-col {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 200px;
}
.main-shop .products-wrap .wrap-col:hover {
  background: #b8cdd3;
  border-radius: 4px;
}
.main-shop .products-wrap .img-wrap {
  height: 170px;
  border-radius: 6px;
}
.main-shop .products-wrap .img-wrap.animated {
  -webkit-animation: loading-images 2s infinite;
          animation: loading-images 2s infinite;
}
.main-shop .products-wrap .img-wrap.loaded {
  -webkit-animation: loaded 0.5s;
          animation: loaded 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.main-shop .products-wrap .img-wrap img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.main-shop .products-wrap .img-wrap img.loaded {
  -webkit-animation: loaded-images 0.5s;
          animation: loaded-images 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.main-shop .products-wrap h5.name {
  font-size: 0.9em;
  font-weight: 600;
}
.main-shop .products-wrap h5.cost {
  font-size: 0.8em;
  font-weight: 400;
}
.main-shop .products-wrap .btn {
  font-size: 0.8em;
  padding: 5px;
  margin-top: 10px;
  margin-right: 4px;
}

.get-auth {
  height: 100vh;
}
.get-auth #login {
  background: #343a40;
  color: #fff;
}
.get-auth button {
  background-color: #fff !important;
  color: #343a40 !important;
}/*# sourceMappingURL=style.css.map */